Prueba1/src/conf/xml-resources/web-service-references/DoctorWS/wsdl/localhost_8080/DoctorWS/DoctorWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.soappet.com.pe/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.soappet.com.pe/" name="DoctorWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.soappet.com.pe/" schemaLocation="http://localhost:8080/DoctorWS/DoctorWS?xsd=1" />
</xsd:schema>
</types>
<message name="listarDoctores">
<part name="parameters" element="tns:listarDoctores" />
</message>
<message name="listarDoctoresResponse">
<part name="parameters" element="tns:listarDoctoresResponse" />
</message>
<message name="guardarDoctor">
<part name="parameters" element="tns:guardarDoctor" />
</message>
<message name="guardarDoctorResponse">
<part name="parameters" element="tns:guardarDoctorResponse" />
</message>
<message name="obtenerDoctor">
<part name="parameters" element="tns:obtenerDoctor" />
</message>
<message name="obtenerDoctorResponse">
<part name="parameters" element="tns:obtenerDoctorResponse" />
</message>
<message name="eliminarDoctor">
<part name="parameters" element="tns:eliminarDoctor" />
</message>
<message name="eliminarDoctorResponse">
<part name="parameters" element="tns:eliminarDoctorResponse" />
</message>
<portType name="DoctorWS">
<operation name="listarDoctores">
<input wsam:Action="http://service.soappet.com.pe/DoctorWS/listarDoctoresRequest" message="tns:listarDoctores" />
<output wsam:Action="http://service.soappet.com.pe/DoctorWS/listarDoctoresResponse" message="tns:listarDoctoresResponse" />
</operation>
<operation name="guardarDoctor">
<input wsam:Action="http://service.soappet.com.pe/DoctorWS/guardarDoctorRequest" message="tns:guardarDoctor" />
<output wsam:Action="http://service.soappet.com.pe/DoctorWS/guardarDoctorResponse" message="tns:guardarDoctorResponse" />
</operation>
<operation name="obtenerDoctor">
<input wsam:Action="http://service.soappet.com.pe/DoctorWS/obtenerDoctorRequest" message="tns:obtenerDoctor" />
<output wsam:Action="http://service.soappet.com.pe/DoctorWS/obtenerDoctorResponse" message="tns:obtenerDoctorResponse" />
</operation>
<operation name="eliminarDoctor">
<input wsam:Action="http://service.soappet.com.pe/DoctorWS/eliminarDoctorRequest" message="tns:eliminarDoctor" />
<output wsam:Action="http://service.soappet.com.pe/DoctorWS/eliminarDoctorResponse" message="tns:eliminarDoctorResponse" />
</operation>
</portType>
<binding name="DoctorWSPortBinding" type="tns:DoctorWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="listarDoctores">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="guardarDoctor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="obtenerDoctor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarDoctor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="DoctorWS">
<port name="DoctorWSPort" binding="tns:DoctorWSPortBinding">
<soap:address location="http://localhost:8080/DoctorWS/DoctorWS" />
</port>
</service>
</definitions>