Prueba1/web/WEB-INF/wsdl/wsSUMA.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Saludo">
        <s:complexType />
      </s:element>
      <s:element name="SaludoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaludoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Calculo2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Calculo2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Calculo2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaludoSoapIn">
    <wsdl:part name="parameters" element="tns:Saludo" />
  </wsdl:message>
  <wsdl:message name="SaludoSoapOut">
    <wsdl:part name="parameters" element="tns:SaludoResponse" />
  </wsdl:message>
  <wsdl:message name="Calculo2SoapIn">
    <wsdl:part name="parameters" element="tns:Calculo2" />
  </wsdl:message>
  <wsdl:message name="Calculo2SoapOut">
    <wsdl:part name="parameters" element="tns:Calculo2Response" />
  </wsdl:message>
  <wsdl:portType name="WSSUMASoap">
    <wsdl:operation name="Saludo">
      <wsdl:input message="tns:SaludoSoapIn" />
      <wsdl:output message="tns:SaludoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Calculo2">
      <wsdl:input message="tns:Calculo2SoapIn" />
      <wsdl:output message="tns:Calculo2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSUMASoap" type="tns:WSSUMASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Saludo">
      <soap:operation soapAction="http://tempuri.org/Saludo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Calculo2">
      <soap:operation soapAction="http://tempuri.org/Calculo2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSSUMASoap12" type="tns:WSSUMASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Saludo">
      <soap12:operation soapAction="http://tempuri.org/Saludo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Calculo2">
      <soap12:operation soapAction="http://tempuri.org/Calculo2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSSUMA">
    <wsdl:port name="WSSUMASoap" binding="tns:WSSUMASoap">
      <soap:address location="http://osss.omniasolution.com/WSDUMMY/wsSUMA.asmx" />
    </wsdl:port>
    <wsdl:port name="WSSUMASoap12" binding="tns:WSSUMASoap12">
      <soap12:address location="http://osss.omniasolution.com/WSDUMMY/wsSUMA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>